

body{ 
    padding: 0;
    margin: 0;
}
*{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;   
}

body{
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    

}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #f44336;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #f44336;
}
/* .mat-form-field-underline.ng-tns-c4-0.ng-star-inserted{
    background-color: white !important;
}
.mat-form-field-underline.ng-tns-c4-8.ng-star-inserted{
    background-color: white !important;
} */